


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
}

body {
  background-color: #265837;
  color: #212529;
  font-family: "Arial", sans-serif;
  overflow: auto;
}


.myProfile-page {
  min-height: 100vh; 
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  margin-top: 70px;
  overflow-x: hidden; 
  overflow-y: auto; 
}

.panel-container {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.panel {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  border: 3px solid #dee2e6;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  box-sizing: border-box;
  overflow: auto; 
}


.myProfile-page h1 {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


.myProfile-page .card {
  border: 3px solid #dee2e6;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.myProfile-page .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.myProfile-page .card-title {
  color: black;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.myProfile-page .card-text {
  color: black;
  font-size: 1rem;
}

.buttonMore {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttonMore:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.buttonMore:active {
  background-color: #003f8a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}


.courses {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course h5 {
  margin-bottom: 8px;
  font-weight: bold;
  color: black;
}

.course p {
  margin: 0;
  color: black;
  line-height: 1.5;
}

.passwordLink {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  margin-left: auto;
}


.placeholderFriend {
  border: 2px solid #b6b6b6;
  border-radius: 4px;
}

.addFriend  {
  background-color: #007BFF !important;
  color: rgb(255, 255, 255);
  border: none; 
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 14px;  
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.addFriend:hover  {
  background-color: #0056b3 !important;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.addFriend:active  {
  background-color: #003f8a !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}


.deleteAccountLink {
  color: red;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold; 
  margin-top: 10px; 
  display: inline-block; 
}

.deleteAccountLink:hover {
  color: darkred; 
}
