
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Push the footer down by taking available space */
}

html, body {
  overflow: auto; /* Ensure scrolling is allowed */
  height: 100%;
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  padding-top: 56px; /* Adjust based on your navbar height */
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(8, 49, 8);
  overflow-y: scroll;

}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10%;
  width: 100%;
  height: calc(100vh - 56px);
}

#b{
  background-color: #5a805d;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 20px;
}
.carousel {
  width:640px;
  height:360px;
}
 
  .carousel-inner {
    width: 100%;  
    height: 400px; 
  }

  .carousel-item {
    height: 400px; 
  } 

  .carousel-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;  
    object-position: center; 
  }
.ye{
  text-align: center;
  margin-bottom: 5%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    height: 100%;
  }
}